#contact iframe
{
    width: 100%;
}
.travel_mainDiv
{
border: 5px solid lightslategrey;
}
.travel_mainDiv img
{
width: 100%;
}
.travel_mainDiv h5 , .travel_mainDiv p
{
    margin: 20px;
}
.movie_head
{
    font: size 20px;
    padding:6px 22px;
    border-radius: 10px;
    Margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: rgb(255, 166, 0);
}